In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [2]:
os.getcwd()

'/Users/connorkitchings/Desktop/Repositories/Concerts/Making_Predictions'

In [3]:
songdata = pd.read_csv('/Users/connorkitchings/Desktop/Repositories/Concerts/Data/Goose/songdata.csv')
songdata.head(1)

,song_id,song,is_original,original_artist,debut_date,last_played,times_played,avg_show_gap
0,400,Turned Clouds,1,Goose,2014-11-21,2024-11-13,108,6.65

In [4]:
showdata = pd.read_csv('/Users/connorkitchings/Desktop/Repositories/Concerts/Data/Goose/showdata.csv')
showdata.head(1)

   show_number     show_id   show_date  venue_id  tour_id  show_order
0            1  1605930400  2014-09-27        24        1           1

In [5]:
setlistdata = pd.read_csv('/Users/connorkitchings/Desktop/Repositories/Concerts/Data/Goose/setlistdata.csv')
setlistdata.head(1)

,uniqueid,show_id,song_id,setnumber,position,tracktime,transition_id,isreprise,isjam,footnote,isjamchart,jamchart_notes,soundcheck,isverified,isrecommended
0,40785,1613690131,871,1,1,NaN,1,0,0,John Scofield. First known version.,0,NaN,NaN,1.0,NaN